<!DOCTYPE html>

<title> Home Page </title>

<head>
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
  <header class="header-bar">
    <div class="header-title">

      <h1> Weeb Authentication </h1>

    

    <nav>
      <div class="main-nav">
          
      <ul>
        <li>
         <a href="/">Home</a>
        </li>
  
        <li>
          <a href="/authenticated">Authentication Check</a>
        </li>
  
        <li>
          <a href="/login">Login</a>
        </li>
      </ul>

      </div>
    </nav>

  </header>
</div>

<div class="main">
    {% block content %}
    {% endblock  %}
</div>

</body>