<!DOCTYPE html>

<title> Home Page </title>

<head>
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
  <header class="header-bar">
    <div class="header-title">

      <h1> Weeb Authentication </h1>

    

    <nav>
      <div class="main-nav">
          
      <ul>
        <li>
         <a href="/">Home</a>
        </li>
  
        <li>
          <a href="/authenticated">Authentication Check</a>
        </li>

        <li>
            <span id="login-button"></span>
            <script>
              var loginButton = document.getElementById('login-button');
              {% if session.logged_in %}
                loginButton.innerHTML = '<a href="/logout">Log out</a>';
              {% else %}
                loginButton.innerHTML = '<a href="/login">Log in</a>';
              {% endif %}
            </script>
        </li>

      </ul>




      </div>
    </nav>

  </header>
</div>

<div class="main">
    {% block content %}
    {% endblock  %}
</div>

</body>