{% extends 'base.html' %}

  {% block content %}

  <div class="left-side">
    <ul>
      Hello.
    </ul>

    {% if session.logged_in %}

    <ul>
      You are currently logged in.
    </ul>
    <ul>
      Go to Authentication Check to see if you are authenticated.
    </ul>

    {% else %}

    <ul>
      You are currently not an authenticated user.
    </ul>
    <ul>
      Register, or log-in to be authenticated.
    </ul>

    {% endif %}
  </div>


  <div class="right-side">
    <ul>
      Registration form.
    </ul>
    <form method="POST">
    <label for="username">Username</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Submit">
    </form>
  </div> 

  {% endblock  %}   