<!DOCTYPE html>

<title> Login Page </title>

<head>
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
  <header class="header-bar">
    <div class="name-title">

      <h1> Web Authentication </h1>

    </div>

    <nav>
      <div class="main-nav">
          
      <ul>
        <li>
         <a href="/">Home</a>
        </li>
  
        <li>
          <a href="/authenticated">Authentication Check</a>
        </li>
  
        <li>
          <a href="/">Logout</a>
        </li>
      </ul>

      </div>
    </nav>

  </header>

<div class="main">

  <div class="right-side">
    <ul>
      Hello!
    </ul>
    <ul>
      You are currently logged in and authenticated.
    </ul>
  </div>    
</div>

</body>
