
body {
  background-color: rgba(26, 20, 24, 0.674);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-title {
  width: 100%;
  height: 325px;
  margin: auto;
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(77, 0, 26);
  background-image: url(banner.png);
}

nav {
  width: 100%;

}

nav .main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  justify-content: center;
}  

nav .main-nav li {
  float: left;
  border: 1px solid black; /* sets border style, width, and color */
  padding: auto;
}

nav .main-nav a {
  display: block;
  color: rgba(25, 25, 25, 0.764);
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  backdrop-filter: blur(8px);
}

nav li a:hover {
  background-color: #22222287;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgb(255, 148, 221);
  backdrop-filter: blur(8px);
}


.right-side {
  width: 50%;
  display: block;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}
.register-box {
  justify-content: left;
  border: 2px solid black; /* sets border style, width, and color */
  padding: 2%;
  border-radius: 5%;
  display: inline-block; /* displays the div as an inline-block element */
  background-color: aquamarine;
}

.login-box {
  text-align: left;
  border: 2px solid black; /* sets border style, width, and color */
  padding: 2%;
  border-radius: 5%;
  display: inline-block; /* displays the div as an inline-block element */
  background-color: aquamarine;
}
